#.env
#jwt
secret=cc7db8e20d883058ea348a1c0a23465d9cd606109434f0ca7c35c1122638d0fafa724c362452271d680069e8bccd3dd0c9fe1f964dfe62345b8263c99dbd06ce
tokenExpireTimeHours=24

##db
dbHost=localhost
dbUser=root
dbPassword=
dbName=si_elit

#mqtt
mqttBrokerHost=mqtt://localhost:1883
pingIntervalSeconds=10
devices=PegonBacaanL,PegonBacaanP,LambatanL,LambatanP,CepatanL,CepatanP
getDevicesStatusWaitTimeSeconds=0

#ws
port=4005

#presensi
toleransiTerlambatMenit=15

#file
fileUploadPath=public/uploads